.side {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 100vh;
  background-color: black;
}
.data {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100vh;
  background-color: #c4c4c4;
}
